$font-color: #6a6464;
$font-color-light: #fff;
$border-color-dark: #c1bfbf;
$border-color-light: #dfd8d8;
$color-primary: #b0302a;
$color-second: #9a9797;
$color-dark: #1a1d20;

$img-path: '../assets/images/';
$img-path-mb: '../assets/images/mb/';
