doctype html
html(lang="en")
	head
		block meta
			include ../config/_meta
		block style
			include ../config/_stylesheet
		block script
			include ../config/_javascript

	body
		#app 
			block header

			block aside

			block main

			block footer

			block dialog 