.header-wrapper(style="font-size:0.4rem") 
	h4 vue-i18n-test
	div 
		input(type="text" v-model="myInput" style="border:1px solid #ccc" :placeholder="$t('message.input')")
		span {{$t("message.input")}}: {{myInput}}
	ul 
		li {{$t("2001")}}
		li {{$t("2002")}}
		li {{$t("2003")}}
		li {{$t("2004")}}